<article>
    <address rel="author">Tesmaia <time pubdate datetime="2020-10-21">21 Oct. 2024</time></address>
    <h3>Starting my website</h3>

    <p>
        So I started my own website. For now I'm using a very lightweight approach where the site contains no JS.
        Everything is done with just HTML and CSS, and I'm hosting it as github pages. I'll see if I need something more involved later.

        To make the process a bit easier on me (just a bit) later I wrote a pattern replacement tool in Go so I can just write these articles in seperate files.
        I don't really know Go, so that's also so I can learn a bit of a new language :)
    </p>
</article>