<article>
    <address rel="author">Tesmaia <time pubdate datetime="2020-10-21">25 May 2025</time></address>
    <h3>Slowvault</h3>

    <p class="preline">
        One of the big challenges of the current day is avoiding the negative impacts of technology on your mental wellbeing.
        Many applications are designed, on purpose or by accident, to have addictive qualities. Because of that, it's not just as simple as "just don't use it",
        or "just use it responsibly". It takes time and discomfort to train your mind into a state of discipline, and when you're addicted, you can't just snap that discipline into existence.

        Because technology can be used to nudge people into desired behaviors, we can use that to fight addiction rather than cause it. For that purpose, I build a prototype cli application called slowvault.

        What is slowvault?

        Slowvault is a boring "password" manager that prevents YOU from accessing your passwords quickly and easily, but still gives you access.
        It's not meant to be perfectly secure, the only "threat" is your own psyche.
        You can use this to store passwords used to unlock various other anti-addiction tools (site blockers), delaying your access when you try to unblock things and then making the password available for a limited amount of time.

        Why a boring CLI? Because it's boring, so you won't want to stare at it as the unlocker counts down.
        Why a delay? Because you want to have access, if it completely blocks access, the addicted mind will try to find workarounds.
        Why limited access? So that if you end up distracted while it's counting down (which we want to happen), you'll need to trigger the delay again, so you can get distracted again :)


        Check it out on my github: <a href="https://github.com/tesmaia/slowvault">https://github.com/tesmaia/slowvault</a>
    </p>
</article>
