<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

<title>Tessa makes stuff - Home</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
  rel="stylesheet">
<link rel="stylesheet" href="index.css?v=$!cachebust" type="text/css">
<script>
function themechanged() {
    var value = '0';
    if(document.getElementById('themeswitch').checked) {
        value = '1';
    }
    window.localStorage.setItem('lighttheme', value);
}

window.onload = (ev) => {
    var light = window.localStorage.getItem('lighttheme') == '1'
    document.getElementById('themeswitch').checked = light;
};

</script>
