        <ul>
          <li><a href="index.html">Home</a></li>
          <li>
            <a href="#">Socials</a>
            <div class="dropdown-container">
              <ul class="dropdown">
                <li><a target="_blank" rel="me" href="https://mastodon.gamedev.place/@tesmaia">Mastodon</a></li>
                <li><a target="_blank" rel="me" href="https://www.youtube.com/@vulcwen">YouTube</a></li>
                <li><a target="_blank" rel="me" href="https://github.com/tesmaia">GitHub</a></li>
              </ul>
            </div>
          </li>
          <li><a href="games.html">My Games</a></li>
          <li><a target="_blank" href="https://ko-fi.com/vulcwen">Give me a coffee</a></li> 
        </ul>